<nav class="nav flex-column">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="<%= products_path%>">Produtos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= new_sale_path%>">Venda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= new_acquisition_path%>">Compra</a>
    </li>
  </ul>
</nav>
