<nav class="nav flex-column">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="<%= clients_path%>">Clientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= products_path%>">Produtos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= sales_path%>">Venda</a>
    </li>
  </ul>
</nav>
